<!DOCTYPE html>
<html lang="zh-TW">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>六角西餐廳</title>
        <link rel="icon" href="https://www.hexschool.com/favicon.ico">
        <meta property="og:title" content="帶你吃到飽的六角餐聽  | 六角餐聽">
        <meta property="og:description" content="打破餐廳售後不理，我們在後台等著你。">
        <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/hexschool-api.appspot.com/o/web%2Forder%2Fhtml_new.png?alt=media&amp;token=5374874e-0efe-491f-be41-8c5b8ef75730">
        <meta property="fb:app_id" content="760173380749493">
        <meta property="og:site_name" content="六角餐聽">
        <meta property="og:locale" content="zh_TW">
        <link rel="alternative" href="https://www.hexschool.com/atom.xml" title="六角餐聽" type="application/atom+xml">
        <meta content="打破餐廳售後不理，我們在後台等著你。" name="description">
        <meta content="西餐廳, 餐廳, 六角, 六角餐廳" name="keywords">

        <link rel="stylesheet" href="css/Lightbox/lightbox.css">
        <link rel="stylesheet" href="css/fontawesome.min.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/jquery-backToTop.min.css">
        <link rel="stylesheet" href="css/all.css">
    </head>

    <body>
        <div class="wrap-fluid">
            <nav class="topmain">
                <div class="topmain-content">
                    <a href="https://hsiangfeng.github.io/Restaurant">
                        <h1 class="logo">六角西餐廳</h1>
                    </a>
                    <ul class="main">
                        <li><a href="cart.html">購物</a></li>
                        <li><a href="#secret">特色</a></li>
                        <li><a href="#chef">主廚</a></li>
                        <li><a href="#contact">地圖</a></li>
                    </ul>
                    <a href="#" class="m-menu">
                        <i class="fas fa-bars fa-2x"></i>
                        <i class="far fa-times-circle fa-2x" style="display:none;"></i>
                    </a>
                </div>
            </nav>
            <header class="bg-banner">
                <div class="banner wrap">
                    <div class="banner-text">
                        <h3>咬一口<br>就無法忘懷的漢堡</h3>
                        <h5>
                            七夕絕對無法錯過的好滋味<br>
                            <i class="fas fa-utensils"></i>六角大漢堡<i class="fas fa-utensils"></i>
                        </h5>
                    </div>
                </div>
            </header>


            <footer class="footer">
                <div class="wrap">
                    <div class="about">
                        <h3>關於 六角西餐廳</h3>
                        <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue
                            enim, pulvinar lobortis nibh lacinia at.</p>
                    </div>
                    <div class="connection">
                        <h3>聯絡方式</h3>
                        <ul>
                            <li>高雄市中正五路到底</li>
                            <li>+886 886 886</li>
                            <li>service@hexschool.com</li>
                        </ul>
                    </div>
                    <div class="footer-logo">
                        <img src="img/logo_l(null).svg" alt=""><br><br>
                        <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                    </div>
                </div>
            </footer>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/lightbox.js"></script>
        <script src="js/jquery.gotop.js"></script>
        <script src="js/all.js"></script>
        <div id="gotop"></div>
    </body>

</html>